:root {
    --grid-column-width: 30%;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 2em;
    row-gap: 2em;
    align-content: space-between;
    justify-content: space-between;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background-color: #fff;
}

.book h3 {
    text-align: center;
}

.book img {
    overflow: hidden;
    object-fit: fill;
}

.book button {
    padding: .5em 1.5em;
    margin: 0;
    background-color: var(--main-color);
    border: var(--main-color) solid 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1em;
    transition: .5s;
    cursor: pointer;
}

.book button:hover {
    color: var(--main-color);
    background-color: transparent;
}

.book p {
    text-align: center;
}

.paginationContainer {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.paginationContainer button, .paginationContainer span {
    border: none;
    font-size: 1em;
    padding: 0;
}

.paginationContainer button {
    cursor: pointer;
}

.paginationContainer .pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.paginationContainer .arrow {
    text-transform: uppercase;
    color: var(--main-color);
    display: flex;
    align-items: center;
}

.paginationContainer .arrow span {
    font-size: 2em;
}

.paginationContainer button:hover {
    color: var(--secound-color);
}

.disabled {
    pointer-events: none;
    cursor: default;
    background-color: rgba(179, 179, 179, 0.63);
    border-color: rgba(179, 179, 179, 0.63);
}

.paginationContainer .hidden {
    visibility: hidden;
}

.paginationContainer .active {
    color: var(--main-color);
}

