:root {
  --main-color: #ff6c43;
  --secound-color: #F48668;
}

body {
  margin: 0;
  font-family: Open Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
}

code {
  font-family: Open Sans,sans-serif;
}